---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: http://ip-api.com/json/
    method: GET
  response:
    body: '{"status":"success","country":"Denmark","countryCode":"DK","region":"84","regionName":"Capital Region","city":"Kobenhavn SV","zip":"1128","lat":55.6786,"lon":12.5589,"timezone":"Europe/Copenhagen","isp":"TDC A/S","org":"TDC A/S","as":"AS3292 TDC A/S","query":"83.93.114.22"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rl:
      - "43"
      X-Ttl:
      - "33"
    status: 200 OK
    code: 200
    duration: ""
