---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.yr.no/soek/soek.aspx?spr=eng&sted=Copenhagen&land=DK
    method: POST
  response:
    body: "\r\n\r\n<!DOCTYPE html>\r\n<html class=\"yr\" lang=\"en-gb\">\r\n<head>\r\n\t<meta charset=\"utf-8\">\r\n\t<title>\r\n\t\tSearch: Copenhagen – Yr</title>\r\n\t<link rel=\"stylesheet\" media=\"screen, print, projection\" href=\"/css/yr.min.versjonert.n1f4i8-NoxaE8-zeHPTrwh1pKiU.css\">\r\n\t<link rel=\"shortcut icon\" href=\"/favicon.ico\" type=\"image/x-icon\" />\r\n\t<meta name=\"viewport\" content=\"width=990\" />\r\n\t<meta name=\"Robots\" content=\"index,follow\" />\r\n\t<meta name=\"Googlebot\" content=\"index,follow\" />\r\n\t<meta name=\"Revisit-after\" content=\"1 Days\" />\r\n\t<meta name=\"description\" content=\"Værvarsel for 9,3 millioner steder [...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.yr.no/place/Denmark/Capital/Copenhagen/
    method: POST
  response:
    body: "\r\n\r\n<!DOCTYPE html>\r\n<html class=\"yr\" lang=\"en-gb\">\r\n<head>\r\n\t<meta charset=\"utf-8\">\r\n\t<title>\r\n\t\tYr – Weather forecast for Copenhagen, Capital (Denmark)</title>\r\n\t<link rel=\"stylesheet\" media=\"screen, print, projection\" href=\"/css/yr.min.versjonert.n1f4i8-NoxaE8-zeHPTrwh1pKiU.css\">\r\n\t<link rel=\"shortcut icon\"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.yr.no/soek/soek.aspx?spr=eng&sted=Kobenhavn%20SV&land=DK
    method: POST
  response:
    body: "\r\n\r\n<!DOCTYPE html>\r\n<html class=\"yr\" lang=\"en-gb\">\r\n<head>\r\n\t<meta charset=\"utf-8\">\r\n\t<title>\r\n\t\tSearch: Kobenhavn SV – Yr</title>\r\n\t<link rel=\"stylesheet\" media=\"screen, print, projection\" href=\"/css/yr.min.versjonert.n1f4i8-NoxaE8-zeHPTrwh1pKiU.css\">\r\n\t<link rel=\"shortcut icon\" href=\"/favi[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.yr.no/soek/soek.aspx?spr=eng&sted=Kobenhavn&land=DK
    method: POST
  response:
    body: "\r\n\r\n<!DOCTYPE html>\r\n<html class=\"yr\" lang=\"en-gb\">\r\n<head>\r\n\t<meta charset=\"utf-8\">\r\n\t<title>\r\n\t\tSearch: Kobenhavn – Yr</title>\r\n\t<link rel=\"stylesheet\" media=\"screen, print, projection\" href=\"/css/yr.min.versjonert.n1f4i8-NoxaE8-zeHPTrwh1pKiU.css\">\r\n\t<link rel=\"shortcut icon\" href=\"/favicon.ico\[...]
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://ip-api.com/json/
    method: GET
  response:
    body: '{"status":"success","country":"Denmark","countryCode":"DK","region":"84","regionName":"Capital Region","city":"Kobenhavn SV","zip":"1128","lat":55.6786,"lon":12.5589,"timezone":"Europe/Copenhagen","isp":"TDC A/S","org":"TDC A/S","as":"AS3292 TDC A/S","query":"83.93.114.22"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rl:
      - "44"
      X-Ttl:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
